<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #offcanvas},
                                                ~{:: #header},
                                                ~{:: #mainContent},
                                                ~{:: #footer},
                                                ~{:: #handler}
                                               )}">
<head>
    <title>Khách hàng</title>
</head>
<body>

<div id="offcanvas" th:replace="~{/fragments/app-fragments :: offcanvas}">
</div>

<header id="header" th:replace="~{/fragments/app-fragments :: header}">
</header>

<div id="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-3">
                <div class="card info-cus">
                    <h3 class="card-header text-center">Thông tin khách hàng</h3>
                    <div class="card-body private-info">
                        <h4 class="card-title">Thông tin cá nhân</h4>
                        <p class="card-text">Họ và tên: <span th:text="${acc.customer.name}"></span></p>
                        <p class="card-text">Ngày sinh: <span th:text="${acc.customer.birthDay}"></span></p>
                        <p class="card-text">Số điện thoại: <span th:text="${acc.customer.phone}"></span></p>
                        <p class="card-text">Email: <span th:text="${acc.customer.email}"></span></p>
                        <p class="card-text">Địa chỉ: <span th:text="${acc.customer.address}"></span></p>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Thông tin tài khoản</h4>
                        <p class="card-text">Usename: <span th:text="${acc.username}"></span></p>
                        <p class="card-text">Số tài khoản: <span th:text="${acc.numberAccount}"></span></p>
                        <p class="card-text">Số dư: <span th:text="${acc.balance}"></span></p>
                        <a th:href="@{'/customer/edit/' + ${acc.id}}" class="btn btn-success">Sửa</a>
                    </div>
                </div>
                <p><a class="btn btn-success btn-lg" th:href="@{'/loan/' + ${acc.id}}" role="button">Vay lãi</a></p>
            </div>
        </div>
    </div>

</div>

<footer id="footer" th:replace="~{/fragments/app-fragments :: footer}">
</footer>

</body>
</html>