<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #offcanvas},
                                                ~{:: #header},
                                                ~{:: #mainContent},
                                                ~{:: #footer},
                                                ~{:: #handler}
                                               )}">
<head>
    <title>Khách hàng</title>
</head>
<body>

<div id="offcanvas" th:replace="~{/fragments/app-fragments :: offcanvas}">
</div>

<header id="header" th:replace="~{/fragments/app-fragments :: header}">
</header>

<div id="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-3">
                <div class="card info-cus">
                    <h3 class="card-header text-center">Thông tin khách hàng</h3>
                    <div class="card-body private-info">
                        <h4 class="card-title">Thông tin cá nhân</h4>
                        <p class="card-text">Họ và tên: <span th:text="${acc.customer.name}"></span></p>
                        <p class="card-text">Ngày sinh: <span th:text="${acc.customer.birthDay}"></span></p>
                        <p class="card-text">Số điện thoại: <span th:text="${acc.customer.phone}"></span></p>
                        <p class="card-text">Email: <span th:text="${acc.customer.email}"></span></p>
                        <p class="card-text">Địa chỉ: <span th:text="${acc.customer.address}"></span></p>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Thông tin tài khoản</h4>
                        <p class="card-text">Usename: <span th:text="${acc.username}"></span></p>
                        <p class="card-text">Số tài khoản: <span th:text="${acc.numberAccount}"></span></p>
                        <p class="card-text">Số dư: <span th:text="${acc.balance}"></span></p>
                        <a th:href="@{'/customer/edit/' + ${acc.id}}" class="btn btn-success">Sửa</a>
                    </div>
                </div>
                <p class="text-center"><a class="btn btn-success btn-lg" th:href="@{'/loan/add/' + ${acc.id}}" role="button">Vay lãi</a></p>
            </div>
            <div class="col-lg-12">
                <div class="list-loan">
                    <div class="title-loan">Danh sách các gói vay</div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mô tả</th>
                            <th>Số tiền gốc vay</th>
                            <th>Ngày bắt đầu vay</th>
                            <th>Số tháng vay</th>
                            <th>Lãi suất</th>
                            <th>Gốc trả hàng tháng</th>
                            <th>Lãi trả hàng tháng</th>
                            <th>Tổng tiền trả hàng tháng</th>
                            <th>Số tháng đã trả</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="loanE, state : ${listLoan}">
                            <td th:text="${state.count}"></td>
                            <td th:text="${loanE.description}"></td>
                            <td th:text="${loanE.loan}"></td>
                            <td th:text="${loanE.startDate}"></td>
                            <td th:text="${loanE.interes.number + ' tháng'}"></td>
                            <td th:text="${loanE.interes.ratio + '%/tháng'}"></td>
                            <td th:text="${loanE.monthlyOriginAmount}"></td>
                            <td th:text="${loanE.monthlyInterestAmount}"></td>
                            <td th:text="${loanE.monthlyTotalAmount}"></td>
                            <td th:text="${loanE.numPaidMonth}"></td>
                            <td>
                                <a class="detail-link" th:href="@{'/loan/detail/' + ${loanE.id}}">Detail</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<footer id="footer" th:replace="~{/fragments/app-fragments :: footer}">
</footer>

</body>
</html>