<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #offcanvas},
                                                ~{:: #header},
                                                ~{:: #mainContent},
                                                ~{:: #footer},
                                                ~{:: #handler}
                                               )}">
<head>
    <title>Khách hàng</title>
</head>
<body>

<div id="offcanvas" th:replace="~{/fragments/app-fragments :: offcanvas}">
</div>

<header id="header" th:replace="~{/fragments/app-fragments :: header}">
</header>

<div id="mainContent">
    <div class="container customer_add">
        <h2 class="text-center main_title">Sửa thông tin khách hàng</h2>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form th:action="@{/customer/edit}" th:object="${acc}" method="post">
                    <div class="form-group">
                        <label for="numberAccount">Số tài khoản:</label>
                        <input type="text" class="form-control" th:field="*{numberAccount}" id="numberAccount" readonly>
                    </div>
                    <div class="form-group">
                        <label for="fullname">Họ và tên: <span style="color: red">*</span></label>
                        <input type="text" class="form-control" th:field="*{customer.name}" id="fullname" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username: <span style="color: red">*</span></label>
                        <input type="text" class="form-control" th:field="*{username}" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Ngày sinh:</label>
                        <input type="text" th:field="${customer.birthDay}" class="form-control" name="birthday" id="birthday" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="form-group">
                        <label for="email">Email: <span style="color: red">*</span></label>
                        <input type="email" th:field="*{customer.email}" class="form-control"
                               id="email" aria-describedby="emailHelp" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Số điện thoại: <span style="color: red">*</span></label>
                        <input type="number" class="form-control" th:field="*{customer.phone}" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Địa chỉ hiện tại: <span style="color: red">*</span></label>
                        <input type="text" class="form-control" th:field="*{customer.address}" id="address" required>
                    </div>
                    <div class="form-group">
                        <label for="balance">Số dư: <span style="color: red">*</span></label>
                        <input type="number" th:text="${acc.balance}" class="form-control" name="balance" id="balance" required>
                    </div>
                    <button type="submit" class="btn btn-success">Sửa</button>
                </form>
            </div>
        </div>
    </div>

</div>

<footer id="footer" th:replace="~{/fragments/app-fragments :: footer}">
</footer>

</body>
</html>