.content-title {
    font-size: 20px;
    background-color: #77BA16;
    padding: 4px 0px;
    text-align: center;
}

.content .col-2 {
    width: calc(50% - 16px);
    float: left;
    margin: 0 8px;
    box-shadow: 0px 4px 10px 0px #ccc;
}

.content .col-2-normal {
    width: calc(50% - 16px);
    float: left;
    margin: 0 8px;
}

.clear {
    clear: both;
}

.mt-2 {
    margin-top: 2px !important;
}

.content .info{
    padding: 8px 24px;
}

.content h4 {
    margin-bottom: 4px;
}

.key {
    width: calc(100% - 16px);
    margin: 20px 8px;
    text-align: center;
}

.key a{
    text-decoration: none;
    color: #000;
    background-color: #C3DB47;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 4px;
    margin-left: 2px;;
}

.container a:hover{
    opacity: 0.7;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}