<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Customer | Management</title>
<script src="https://kit.fontawesome.com/3b01fd3ee0.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/search_form.css}" />
<link rel="stylesheet" th:href="@{/css/customer_content.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
	rel="stylesheet">
</head>

<body>
	<div class="nav-bar">
		<ul>
			<li class="nav-item"><a href="#">Home | <i
					class="fas fa-home"></i></a></li>
			<li class="nav-item"><a th:href="@{/customer}">Customer | <i
					class="fas fa-users"></i></a></li>
			<li class="nav-item"><a href="#">Interes Rate | <i
					class="fas fa-map"></i></a></li>
			<li class="nav-item"><a href="#">Saving | <i
					class="far fa-calendar-alt"></i></a></li>
		</ul>
	</div>
	<div class="title">
		<h2>Customer Management</h2>
	</div>
	<div class="container">
		<div class="search-form">
			<form method="get" th:action="@{/customer/search}">
				<input type="text" name="searchKey" class="form-control"
					placeholder="Type the number account" />
				<button type="submit">Search | <i class="fas fa-search"></i></button>
				<span style="padding: 0 4px;">Or</span>
				<a th:href="@{/customer/register}">Register | <i class="fas fa-user-edit"></i></a>
			</form>
		</div>
		<div class="content">
			<h3>Result</h3>
			<table>
				<tr>
					<th>Number account</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Balance</th>
					<th>Action</th>
				</tr>
				<tr th:if="${acc != null}">
					<td th:text="${acc.numberAccount}"></td>
					<td th:text="${acc.customer.name}"></td>
					<td th:text="${acc.customer.phone}"></td>
					<td th:text="${acc.balance}"></td>
					<td class="pd-6"><a th:href="@{'/customer/detail/' + ${acc.id}}">Detail</a></td>
				</tr>
			</table>
			<h4 th:if="${isSuccess == false}" class="errorMessage">Have no result match! Please try again.</h4>
		</div>
	</div>
</body>

</html>