<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Customer | Add Booksaving</title>
<script src="https://kit.fontawesome.com/3b01fd3ee0.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/to_saving.css}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
	rel="stylesheet">
</head>

<body>
	<div class="nav-bar">
		<ul>
			<li class="nav-item"><a href="#">Home | <i
					class="fas fa-home"></i></a></li>
			<li class="nav-item"><a th:href="@{/customer}">Customer | <i
					class="fas fa-users"></i></a></li>
			<li class="nav-item"><a href="#">Interes Rate | <i
					class="fas fa-map"></i></a></li>
			<li class="nav-item"><a href="#">Saving | <i
					class="far fa-calendar-alt"></i></a></li>
		</ul>
	</div>
	<div class="title">
		<h2>Add Booksaving</h2>
	</div>
	<div class="container">
		<div class="content">
			<div class="col-1">
				<h3 class="content-title">Bank account infomation</h3>
				<div class="info">
					<h4>
						Number account: <span th:text="${acc.numberAccount}"></span>
					</h4>
					<h4>
						Fullname: <span th:text="${acc.customer.name}"></span>
					</h4>
					<h4>
						Balance: <span th:text="${acc.balance}"></span>
					</h4>
				</div>
			</div>
			<div class="col-3">
				<h3 class="content-title">Form</h3>
				<form method="post" th:object="${bs}">
					<div class="form-group">
						<label class="form-control">Description</label>
						<input class="form-control pl-4" type="text" th:field="${bs.description}">
					</div>
					<div class="form-group">
						<label class="form-control">Deposit amount</label>
						<input class="form-control pl-4" type="text" th:field="${bs.amountSend}">
					</div>
					<div class="interes-group" id="nolimit">
						<h4>Savings on demand: </h4>
						<div th:each="interes : ${nolimit}" class="interes-item">
							<input type="radio" th:value="${interes.id}" name="interes">
							<span>Quantity: <span th:text="${interes.number}"></span>&emsp;Ratio: <span th:text="${interes.ratio}"></span></span>
						</div>
					</div>
					<div class="interes-group" id="month">
						<h4>Savings by month: </h4>
						<div th:each="interes : ${month}" class="interes-item">
							<input type="radio" th:value="${interes.id}" name="interes">
							<span>Quantity: <span th:text="${interes.number}"></span>&emsp;Ratio: <span th:text="${interes.ratio}"></span></span>
						</div>
					</div>
					<div class="interes-group" id="year">
						<h4>Savings by year: </h4>
						<div th:each="interes : ${year}" class="interes-item">
							<input type="radio" th:value="${interes.id}" name="interes">
							<span>Quantity: <span th:text="${interes.number}"></span>&emsp;Ratio: <span th:text="${interes.ratio}"></span></span>
						</div>
					</div>
					<div class="text-center">
						<a th:href="@{'/customer/detail/' + ${acc.id}}">Back | <i class="fas fa-arrow-left"></i></a>
						<button type="submit">Submit | <i class="fas fa-cloud-upload-alt"></i></button>
					</div>		
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>

</html>