<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #offcanvas},
                                                ~{:: #header},
                                                ~{:: #mainContent},
                                                ~{:: #footer},
                                                ~{:: #handler}
                                               )}">
<head>
    <title>Khách hàng</title>
</head>
<body>

<div id="offcanvas" th:replace="~{/fragments/app-fragments :: offcanvas}">
</div>

<header id="header" th:replace="~{/fragments/app-fragments :: header}">
</header>

<div id="mainContent">
    <div class="container">
        <h2 class="text-center main_title">Cho khách hàng vay tiền</h2>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form th:action="@{'loan/' + ${loan.accountId}}" th:object="${loan}" method="post">
                    <div class="form-group">
                        <label for="loan">Số tiền cần vay: <span style="color: red">*</span></label>
                        <input type="number" class="form-control" th:field="*{loan}" id="loan" required>
                    </div>
                    <div class="form-group">
                        <label for="tenor">Thời hạn vay: <span style="color: red">*</span></label>
                        <input type="number" class="form-control" th:field="*{tenor}" id="tenor" required>
                    </div>
                    <div class="form-group">
                        <label for="interestRate">Lãi suất vay: <span style="color: red">*</span></label>
                        <input type="number" class="form-control" th:field="*{interestRate}" id="interestRate" required>
                    </div>

                    <button type="submit" class="btn btn-success">Vay lãi</button>
                </form>
            </div>
        </div>
    </div>

</div>

<footer id="footer" th:replace="~{/fragments/app-fragments :: footer}">
</footer>

</body>
</html>